/customer-ms/node_modules
/customer-ms/package-lock.json
/customer-ms/*.env


/wire-transfer-ms/node_modules
/wire-transfer-ms/package-lock.json
/wire-transfer-ms/*.mvn
/bank-ms/*.cmd
/bank-ms/mvnw
kubectl.exe.sha256
bank-ms/.mvn/wrapper/maven-wrapper.properties
